@model IEnumerable<adminSystem.Models.BusinessUnit>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.businessUnitCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.officeAddress1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.officeAddresss2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.officeAddress3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.officePostCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.officeContact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.officePhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.officeEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.businessUnitCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.officeAddress1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.officeAddresss2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.officeAddress3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.officePostCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.officeContact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.officePhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.officeEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.businessUnitId }) |
            @Html.ActionLink("Details", "Details", new { id = item.businessUnitId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.businessUnitId })
            @Html.ActionLink("Staff", "Staff", new { id = item.businessUnitId })
        </td>
    </tr>
}

</table>
